#login {
    width: 100%;
    height: 100%;
}

.login-container-margintop{
    height: auto;
}

.center-div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 8%;
}

.text{
    color: #8D8D8D;
    padding-top: 15%;
    text-align: center;
}

.link{
    text-decoration: none;
    color: #8d8d8d
}